<a href="https://colab.research.google.com/github/hosein-ald/git_test/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num= int(input(print ("enter a number")))
if num%2==0 :
  print ("even")
else:
  print ("odd")

enter a number
None5
odd

In [ ]:
for i in range(1, 10):
  print (i)

1
2
3
4
5
6
7
8
9

In [ ]:
i=10
while i>0 :
  print (i)
  i-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
def add_numbers (a, b) :
  return a+b
print(add_numbers(10, 20))

30

In [ ]:
def find_max (numbers):
  numbers = max(numbers)
  return numbers
print(find_max([1, 2, 3, 4, 5]))

5

In [ ]:
dic = {"hosi":31 , "mamad":33, "goli":55}
for (name, age) in dic.items():
  print(name, age)

hosi 31
mamad 33
goli 55